{%extends "layout.html"%} {%block content%}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/style67.css')}}">
</head>

<body>
    <div id="info">
        <div>
            <p>
                <h3>Why is a Healthy diet important?</h3>
            </p><br>
            <p>A balanced diet is important because your organs and tissues need proper nutrition to work effectively. Without good nutrition, your body is more prone to disease, infection, fatigue, and poor performance. A good diet keeps you fit, allows
                you to maintain a healthy weight, reduces the fat percentage in your body, and gives you energy. A well-balanced meal helps in improved brain functions and keeps your mind active.
            </p><br>
        </div>
        <div>
            <p>
                <h4> How to achieve a balanced healthy diet?</h4>
            </p><br>
            <p>To get the proper nutrition from your diet, you should consume most of your daily calories in as:
            </p><br>
            <p>
                <h4> • Fresh Fruits:</h4>
            </p>
            <p>Fruits are an excellent source of essential vitamins and minerals, and they are high in fibre. Fruits also provide a wide range of health-boosting antioxidants, including flavonoids. Eating lots of fruit lowers the risk of developing disease.
            </p><br>
            <p>
                <h4>• Fresh Vegetables:</h4>
            </p>
            <p> Vegetables are important sources of many nutrients, including potassium, dietary fiber, folate (folic acid), vitamin A, and vitamin C. Diets rich in potassium may help to maintain healthy blood pressure. Dietary fiber from vegetables, as part
                of an overall healthy diet, helps reduce blood cholesterol levels and may lower risk of heart disease. Fiber is important for proper bowel function. It helps reduce constipation and diverticulosis. Fiber-containing foods such as vegetables
                help provide a feeling of fullness with fewer calories
            </p><br>
            <p>
                <h4>• Whole Grains:</h4>
            </p>
            <p> Whole grains are packed with nutrients including protein, fiber, B vitamins, antioxidants, and trace minerals (iron, zinc, copper, and magnesium).
            </p><br>
            <p>
                <h4>• Lean Proteins:</h4>
            </p>
            <p>
                Proteins are critical components of all tissues in the human body and have crucial roles in metabolism, immunity, fluid balance, and energy. Pulses, legumes, eggs, fish, and meat are the main sources of protein in a regular meal.
            </p><br>
        </div>

    </div>
</body>

</html>
{%endblock%}